#
#  Logging configuration file
#

logger.data.separator =  \t
logger.date.pattern = HH:mm:ss.SSS

logger.file.path = .
logger.file.name = log.log

data.level = all
data.output = console

loop.level = all
loop.output = console

expression.level = all
expression.output = console

statement.level = all
statement.output = console

performance.level = all
performance.output = console

resolution.level = all
resolution.output = console


