#
#  Logging configuration file
#

logger.file.path =  /home/madytyoo/Downloads/smeup-rpg-log/log
logger.data.separator =  \t
logger.date.pattern =  HH:mm:ss.SSS


data.level = all
data.output = console

loop.level = all
loop.output = console

expression.level = all
expression.output = console

statement.level = all
statement.output = console

performance.level = all
performance.output = console

resolution.level = off
resolution.output = console


