#
#  Logging configuration file
#

logger.data.separator =  \t
logger.date.pattern =  HH:mm:ss.SSS

data.level = off
data.output = console

loop.level = off
loop.output = console

expression.level = off
expression.output = console

statement.level = off
statement.output = console

performance.level = off
performance.output = console

resolution.level = off
resolution.output = console


