name: Unit Test

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: zulu
    - uses: gradle/actions/setup-gradle@v3
    - name: Checking kotlin formatting
      run: ./gradlew ktlintCheck
    - name: Compiling and test
      run: ./gradlew check